<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Search</key>
	<dict>
		<key>Wareztuga</key>
		<dict>
			<key>Identifier</key>
			<string>com.plexapp.search.wareztuga</string>
		</dict>
	</dict>
	<key>URL</key>
	<dict>
		<key>Wareztuga</key>
		<dict>
			<key>Identifier</key>
			<string>mobi.uselink.plex.services.wareztuga</string>
			<key>URLPatterns</key>
			<array>
				<string>^http://(www\.)?wareztuga\.tv/movie\.php</string>
				<string>^http://(www\.)?wareztuga\.tv/serie\.php</string>
				<string>^http://(www\.)?wareztuga\.tv/getFileHosts\.php</string>
			</array>
			<key>TestURLs</key>
			<array>
				<string>http://www.wareztuga.tv/movie.php</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
